.page {
  &__about {
    position: relative;
    top: -240px;
    @media (max-width: 767px) {
      top: -120px;
    }
  }
}
.about {
  &__container {
    background-color: #252525;
    padding: 60px 64px 90px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.102);
    border-radius: 6px;
    @media (max-width: 500px) {
      padding: 40px 24px;
    }
  }

  &__title {
    margin-bottom: 61px;
    @media (max-width: 500px) {
      margin-bottom: 30px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 90px;
    max-width: 734px;
    width: 100%;

    @media (max-width: 500px) {
      gap: 40px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #a6a6a6;
    @media (max-width: 500px) {
      line-height: 20px;
    }
  }

  &__image {
    display: flex;
    gap: 34px;
    @media (max-width: 500px) {
      flex-direction: column;
    }

    &_one {
      position: relative;
      width: 350px;
      height: 270px;
      overflow: hidden;
      max-width: 100%;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);

      @include adaptiveClamp("width", 350, 250, 780, 501, 1);
      @include adaptiveClamp("height", 270, 170, 780, 501, 1);
      @media (max-width: 500px) {
        width: 350px;
        height: 270px;
      }
      @media (max-width: 400px) {
        @include adaptiveClamp("width", 350, 250, 400, 320, 1);
        @include adaptiveClamp("height", 270, 170, 400, 320, 1);
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
    }
    &_two {
      max-width: 100%;
      position: relative;
      width: 350px;
      height: 270px;
      overflow: hidden;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);
      @include adaptiveClamp("width", 350, 250, 780, 501, 1);
      @include adaptiveClamp("height", 270, 170, 780, 501, 1);
      @media (max-width: 500px) {
        width: 350px;
        height: 270px;
      }
      @media (max-width: 400px) {
        @include adaptiveClamp("width", 350, 250, 400, 320, 1);
        @include adaptiveClamp("height", 270, 170, 400, 320, 1);
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
    }
  }
}
.title {
  text-align: center;
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: column;
  &:before {
    content: "";
    position: absolute;
   bottom: -14px;
    left: 50%;
    transform: translate(-50%);
    background-color: #34c759;
    width: 60px;
    height: 2px;
  }
  &.about__title {
    &::before {
      display: none;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 80px;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 2.5px;
    line-height: 150px;
    color: #303030;
    text-transform: uppercase;
    @include adaptiveClamp("font-size", 100, 55, 900, 425, 1);
    @include adaptiveClamp("line-height", 150, 130, 767, 425, 1);
  }
  &__title {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.2em;
    color: #d9d9d9;
    @include adaptiveClamp("font-size", 30, 20, 767, 425, 1);
    //@include adaptiveClamp("line-height", 60, 30, 767, 425, 1);
    &_about {
     // margin-top: 45px;
    }
  }
}
