.header__burger {
  display: none;
  @media (max-width: 620px) {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    position: relative;
    display: block;
    margin-left: auto;
    cursor: pointer;

    &.active {
      span {
        transform: scale(0);

        &::before {
          transform: translate(-50%) rotate(45deg);
          top: 50%;
          // background-color: rgba(255, 255, 255, 0.7);
        }
        &::after {
          transform: translate(-50%) rotate(-45deg);
          bottom: 50%;
          //background-color: rgba(255, 255, 255, 0.7);
        }
      }
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.7);
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.7);
    }
    &::after {
      top: 6px;
      left: 50%;
      transform: translate(-50%);
    }
    &::before {
      bottom: 6px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
