.page {
  background-color: black;
  &__food {
    position: relative;
  }
}
.food {
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  &__title {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.11em;
    @include adaptiveClamp("font-size", 72, 50, 925, 767, 1);
    span {
      font-family: "Roboto", sans-serif;
      font-size: 72px;
      font-weight: 300;
      line-height: 60px;
      letter-spacing: 0.1em;
    }
  }
  &__description {
    margin-top: 16px;
    color: rgb(255, 255, 255, 70%);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    text-align: center;
    max-width: 595px;
    padding: 0 40px;
    span {
      text-transform: uppercase;
    }
  }

  &__btn {
    margin-top: 40px;
    height: 72px;
    background-color: #34c759;
    border-radius: 43px;
    padding: 0 58px;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2em;
    color: #1a1a1a;
    transition: all 0.3s ease;
    &:hover,
    &:focus,
    &:active {
      border: 1px solid #34c759;
      color: #fff;
    }
  }

  &__column {
    display: flex;
    margin-top: 70px;
    gap: 90px;
    margin-bottom: 401px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 245px;
  }

  &__icon {
    margin-bottom: 16px;
  }

  &__text {
    text-align: center;
    &_big {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }
    &_small {
      font-size: 14px;
      font-weight: 400;
      //line-height: 60px;
      color: rgb(255, 255, 255, 50%);
    }
  }
}
