.header {
  position: relative;
  background-color: black;
  border-bottom: 2px solid rgb(255, 255, 255, 10%);

  &__container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__logo {
    
  }
  &__icon {
   
  }
  &__text {
   
  }

  &__menu {
    display: flex;
    gap: 45px;
   
  }
}
.logo {
  display: flex;
    align-items: center;
}
.logo-text {
  color: #34c759;
  text-transform: uppercase;
  margin-left: 9px;
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
  }
}
.icon-logo {
  margin-bottom: 6px;
}
.menu {
  @media (max-width:620px){
    display: none;
  }
  &__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    transition: all 0.3s ease;
    &:hover,
    &:focus,
    &:active {
      color: #34c759;
    }
  }
}
