.header {
  position: absolute;
  background-color: transparent;
  border-bottom: 2px solid rgb(255, 255, 255, 10%);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__logo {
    
  }
  &__icon {
   
  }
  &__text {
   
  }

  &__menu {
    display: flex;
    gap: 45px;
   
  }
}
.logo {
  display: flex;
    align-items: center;
}
.logo-text {
  color: #34c759;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 9px;
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
  }
}
.icon-logo {
  margin-bottom: 6px;
}
.menu {
  @media (max-width:620px){
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: top 0.35s ease;
   // z-index: 4;
    background: url(../images/food/bg-image.png) no-repeat center/cover;
  &.active {
   
    top: 0;
    
  }
  }
  &__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    transition: all 0.3s ease;
    &:hover,
    &:focus,
    &:active {
      color: #34c759;
    }
    @media (max-width:620px){
      font-size: 25px;
    }
  }
}
